<div class="about-container tab">

  <div class="about-card">
    <div class="about-text">
      <h2 class="animation-show">Photographer Name</h2>
      <p class="animation-show">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, ipsum quas temporibus quia sapiente porro, nostrum autem quod officia adipisci ut laudantium suscipit hic voluptatibus atque aliquid dignissimos quam dicta!</p>
      <br>
      <p class="animation-show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae dolore at et vero excepturi ipsum molestias optio iste facere ratione velit ex, eaque obcaecati, veritatis reprehenderit mollitia dicta? Assumenda, quam.</p>
      <br>
      <p class="animation-show">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, consequatur voluptas. Debitis fugit quod praesentium a at sapiente culpa eos, saepe et sed? Ullam nesciunt quisquam dicta labore reiciendis voluptatibus.</p>
    </div>
    <div class="about-img-box">
      <%= image_tag 'about/profile.jpeg', class:'about-image animation-show' %>
      <%= image_tag 'about/mobile_profile.png', class:'about-image2 animation-show' %>
    </div>
  </div>

</div>
