<div class="wrapper">
  <input id="btnBox" type="checkbox">
  <ul class="tab">
    <li class="animation-show" id="landscape-photo1"></li>
    <li class="animation-show" id="landscape-photo2"></li>
    <li class="animation-show" id="landscape-photo3"></li>
    <li class="animation-show" id="landscape-photo4"></li>
    <li class="animation-show" id="landscape-photo5"></li>
    <li class="animation-show" id="landscape-photo6"></li>
    <li class="animation-show" id="landscape-photo7"></li>
    <li class="animation-show" id="landscape-photo8"></li>
    <li class="animation-show" id="landscape-photo9"></li>
    <li class="animation-show" id="landscape-photo10"></li>
  </ul><label class="btn-area" for="btnBox"><span class="btn1">LOAD MORE</span> <span class="btn2">LOAD LESS</span></label>
</div>
