<header class="header">
    <%= image_tag "hero/logo.png", class:"main_logo" %>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
        <a href="#Home" class="nav-link">Home</a>
        <a href="#About" class="nav-link">About</a>
        <a href="#Portraits" class="nav-link">Portraits</a>
        <a href="#Landscapes" class="nav-link">Landscapes</a>
        <a href="#Contact" class="nav-link">Contact</a>
    </nav>
</header>

<div class="nav-bg"></div>
