.animation-show{
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
}
.active .animation-show{
  transform: translateY(0);
  opacity: 1;
}
.animation-show:nth-child(2){
  transition-delay: 0.5s;
}
.animation-show:nth-child(3){
  transition-delay: 1s;
}
.animation-show:nth-child(4){
  transition-delay: 1.5s;
}
.animation-show:nth-child(5){
  transition-delay: 2s;
}
